.error {
  font-size: 12px;
}
.text-left{
  text-align: left;
}
.margin-bottom20{
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .navbar-inverse .navbar-nav>li>span:hover {
    color: #fff;
    background-color: transparent;
  }
  .navbar-nav>li>span {
    color: #9d9d9d;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navbar-nav>li>span {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }

  .nav>li>span {
    position: relative;
    display: block;
    padding: 15px 15px;
  }

  .rt-tbody {
    text-align: center;
  }
}

.sel-role {
  margin-top: 7px;
  height: 28px;
}

/* Effect transition page */
.homeTransition-appear {
  opacity: 0;
}

.homeTransition-appear.homeTransition-appear-active {
  opacity: 1;
  transition: all .5s ease-in-out;
}

.about {
  color: red;
}

.aboutTransition-appear {
  opacity: 0;
}

.aboutTransition-appear.aboutTransition-appear-active {
  opacity: 1;
  color: red;
  transition: all .4s ease-in-out;
}

.worksTransition-appear {
  opacity: 0;
  transform: translateX(-100px);
}

.worksTransition-appear.worksTransition-appear-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all .4s ease-in-out;
}

/* Effect transition page */